# Compiled class file
*.class

# Log file
*.log


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Other
.settings
.project
.classpath
target
classes
*.db
debug
node_modules
.dtbcache
/.idea/
*.iml
site
logs
.patch